<div>
	<link rel="Stylesheet" href="Main.css" type="text/css" />

	<h1 align=center style="padding:0px; height:20px; vertical-align: top">Work Experience</h1>

	<br />
	<br />
	<h4>CS RELATED WORK</h4>
	<p>
		<strong>WYOMING GAME AND FISH DEPT:	 </strong><i>Computer Programmer</i> &nbsp;	June(2020) - Current
		<br />307-777-4600
		<br />5400 Bishop Blvd, Cheyenne, WY 82009
		<br /> Maintain various web applications used by the Wyoming G&amp;F Dept

		<br /><br />Created: <br />
		<strong>&#x2022; <a href="https://wgfapps.wyo.gov/FishStock/FishStock" title="FishStock">Fish Stock</a></strong> - App to search fish stocking reports in the state.
		<br /><strong>&#x2022; <a href="https://wgfapps.wyo.gov/ToothAging/ViewToothData" title="ToothAging">Tooth Aging</a></strong> - App to search general or personal Tooth Aging results.
		<br />&#x2022; Various APIs for data calls to be used in applications, including - <strong><a href="https://wgfapps.wyo.gov/LoginPortal/Login1.aspx" title="LoginPortal">Login Portal</a></strong>
		<br />&#x2022; <strong><a href="https://wgfapps.wyo.gov/RoadkillAppCore/" title="Roadkill">Roadkill Collection</a></strong> - Report or request authorization certificates to collect roadkill in Wyoming.

		<br />
		<br /><br /><strong>APEX SYSTEMS:	 </strong><i>Application Development Contractor</i> &nbsp;	December(2019) - May (2020)
		<br />205-220-2100
		<br />450 Riverchase Pkwy East, Birmingham, AL 35244
		<br /> Participated in rewrite of applet at BCBSAL into RESTFul Web Services

		<br /><br /><strong>BLUE CROSS BLUE SHIELD OF ALABAMA:	 </strong><i>Application Development Intern</i> &nbsp;	June - August (2019)
		<br />205-220-2100
		<br />450 Riverchase Pkwy East, Birmingham, AL 35244
		<br /> Supported maintenance of a tracking system for health providers
		<br /> Added a time limit to entered expiration dates for provider licenses

		<br /><br /><strong>JSU ACE TUTORING:	</strong><i>Computer Science Tutor</i>&nbsp;	September (2019) - Present
		<br />acetutoring@jsu.edu 256-782-8223
		<br />700 Pelham Rd N, Jacksonville, AL 36265
		<br />	Helped struggling students understand the concepts behind various subjects including:
		<br />  Java, C++, HTML, Python and Git
	</p>

	<br />
	<h4>NON-CS WORK</h4>
	<p>
		JSU CAMPUS BOOKSTORE:	<i>Bookseller</i>	&nbsp;August (2018) - Present
		<br />sm278@bncollege.com  256-782-5283
		<br />700 Pelham Rd N, Jacksonville, AL 36265
		<br />	Maintained pricing, stocked shelves, assisted setup of displays and signs, worked cash register, shipped outgoing orders

		<br /><br />PRICELESS IGA: <i>Stocker</i> &nbsp;January - August (2018)
		<br />256-435-9765
		<br />802 Pelham Rd S, Jacksonville, AL 36265
		<br />	Scanned and bagged groceries, stocked grocery items, collected buggies

		<br /><br />AMSTAR 14 CINEMAS: <i>Usher</i>	&nbsp;March - July (2016)
		<br />205-621-8884
		<br />820 Colonial Promenade Pkwy, Alabaster, AL 35007
		<br />	Worked concession stands, performed theatre checks, cleaned theatres<br /><br /><br />
	</p>

	<h1 align=center style="padding:0px; height:20px; vertical-align: top">Course Projects</h1>

	<br />
	<br />
	<h4>Game Design II	Fall 2018</h4>

	<p>
		<strong>
			<br />  <img src="/pics/samurai.jpg" runat="server" height="200" width="325" align=left>
			<img src="/pics/samurai2.jpg" runat="server" height="200" width="325" align=right>
			SAMVRAI
		</strong>
		<br /><br /><br /><br />	&#x2022; Dual wield sword virtual reality game with enemy AI (HTC Vive)
		<br />	&#x2022; Completed level design, terrain design, object creation in Blender
	</p>

	<p>
		<strong>
			<br /><br /><br /><br /><br /><br /><br />
			<img src="/pics/df.jpg" runat="server" height="200" width="325" align=left>
			<img src="/pics/df2.jpg" runat="server" height="200" width="325" align=right>
			DELTA FORCE
		</strong>
		<br /><br /><br /><br />	&#x2022; Split screen capture the flag game (PS4 controllers)
		<br />	&#x2022; Completed programming for GUI, weapons, flag system, spawning system
		<br /><br /><br /><br /><br /><br />
	</p>

	<h4><br />Game Design I Fall 2017 </h4>

	<p>
		<br /><strong>CATERPILLARS 	</strong>
		<br />	&#x2022; Turn based multiplayer strategy battle game (Keyboard)
		<br />	&#x2022; Completed programming for weapons in group project
	</p>
	<br />




</div>