<div>

	<h1 align=center style="padding:0px; height:20px; vertical-align: top">Chase Sparks</h1>

	<br />
	<br />
	<div class="Description"><p>@Text.AboutMe</p></div>

	<div class="aboutMe row" style="padding-top:0px; padding-bottom:0px;">
		<div class="col-sm-4"><img src="/pics/me.jpg" runat="server" height="280" width="280" align=left></div>
				
		<div class="col-sm-4"><table class="center">
			<tr class="top"><td style="width:100px"><strong>Languages: </strong></td><td>Java, Python, HTML/CSS, ASP.NET (VB, C#), COBOL</td></tr>
			<tr class="top"><td style="width:100px"><strong>Software: </strong></td><td>Unity, Blender, JIRA, Github, Visual Studio, Postman</td></tr>
			<tr class="top"><td tyle="width:100px"><strong>Databases: </strong></td><td> mySQL, Access, SSMS, SQuirreL </td></tr>
			<tr class="top"><td colspan="2"><strong>Word | Excel | PowerPoint</strong></td></tr>
		</table>
		<table class="center">
			<tr><td>Jacksonville State University</td><td>Jacksonville, AL</td></tr>
			<tr><td>Computer Science, B.S.</td><td>Cum Laude</td></tr>
			<tr><td>Graduation: </td><td>May 2020</td></tr>
			<tr><td>CS GPA: </td><td>3.8/4.0</td></tr>
		</table>
		<table class="center">
			<tr><td>Thompson High School</td><td>Alabaster, AL</td></tr>
			<tr><td>Advanced with Honors</td><td>Valedictorian</td></tr>
			<tr><td>Graduation: </td><td>May 2016 </td></tr>
			<tr><td>GPA: </td><td>4.0/4.0 </td></tr>
		</table></div>

		<div class="col-sm-4"><img src="/pics/trombone.jpg" runat="server" height="280" width="280" align=right></div>	
	</div>

</div>