<div style="font-weight:bold; font-size: 20px">
    Contact Ryan
    <br />
    <img src="/images/images.png" width="20px" height="20px" />&nbsp;<a href="tel:307-287-6670">(307) 287- 6670</a>
    <br />
    <img src="/images/666162.png" width="20px" height="20px" />&nbsp;<a href="mailto: contact@wyomingelectricalservices.com">contact@wyomingelectricalservices.com</a>
</div> 