<div class="navbar row">
	<div class="col-sm-2"><input type="button" class="btn" @onclick="AboutMe" value="About Me" /></div>
	<div class="col-sm-2"><input type="button" class="btn" @onclick="Accomplishments" value="Accomplishments" /></div>
	<div class="col-sm-2"><input type="button" class="btn" @onclick="Experience" value="Experience" /></div>
	<div class="col-sm-2"><input type="button" class="btn" @onclick="ContactMe" value="Contact Me" /></div>
	<div class="col-sm-2"><input type="button" class="btn" @onclick="Resume" value="Resume" /></div>
</div>

<div class="footer row">
	<div class="col-sm-4"><input type="button" class="btn" @onclick="GitHub" value="GitHub" /></div>
	<div class="col-sm-4"><input type="button" class="btn" @onclick="LinkedIn" value="LinkedIn" /></div>
	<div class="col-sm-4"><input type="button" class="btn" @onclick="MyBlog" value="My Blog" /></div>
</div>